/****************
  => Theme-colors
****************/
$primary:#0262B2;
$primary-light: #0DDBE5;
$primary-dark: #054080;
$secondary:#ECECEC;
$secondary-light: #ebebeb;

/****************
  => Gray
****************/
$gray: #eff1f5;
$gray-light: #555555; // sub text color
$gray-dark: #010101; // Text Color
$gray-image-bg: #d0d3d8;
$gray-image-bg-light: #f0f0f0;
$gray-article-border: #A1A1A1;

$border-dark: #3f3f3f;

$white: #ffffff;
$gray-100: #f5f5f7;
$gray-200: #cccccc;
$gray-300: #e1e1e1; // Borders
$gray-400: #c4c4c4;
$gray-500: #acb4c7;
$gray-600: #909090; // Secondary Text
$gray-700: #8f8f8f;
$gray-800: #707070;
$gray-900: #222222;
$black: #000000;

/***********************
  => Additional colors
***********************/
$purple: #6e83ff;
$cyan: #1edce5;
$cyan-light: #26ffe1;
$pink: #bd14c1;
$pink-light: #e943a9;

/***********************
  => Semantic colors
***********************/
$success: #84bd00; // Success actions, positive button color
$success-light: #e9f3d1;
$info: #4c84ff; // Info actions
$info-dark: #1a3365;
$info-light: #ebf2ff;
$warning: #f6be02;
$warning-light: #fff4d6; // Warning actions
$danger: #f60900; // Danger actions, negative button color
$danger-light: #fedede;


/****************
  => for Overlay
****************/
$overlay-bg: rgba(0, 0, 0, 0.5);

$light: $gray-600;

/****************
  => Body
****************/
// Settings for the `<body>` element.
$body-bg: $white;


/*  box-shadow  */
$primary-box-shadow: rgba(0, 128, 255, .25);
$warning-box-shadow: rgba(255, 208, 28, .25);
$danger-box-shadow: rgba(251, 96, 127, .25);
$dark-box-shadow: rgba(115, 117, 122, .25);

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "gray": $gray,
  "gray-dark": $gray-dark,
  "gray-light": $gray-light,
  "light": $light,
  "black": $black,
  "gray-700": $gray-700,
  "gray-600": $gray-600,
  "gray-100": $gray-100,
  "purple": $purple,
  "cyan": $cyan,
  "cyan-light": $cyan-light,
  "pink": $pink,
  "pink-light": $pink-light
);