html,
body {
    height: 100%;
    font-family: $font-regular;
    color: $gray-dark;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    overflow: hidden;
}


a {
    text-decoration: none;
}

::selection {
    color: $white;
    background: $primary;
}
.cursor-pointer {
    cursor: pointer;
}


