.search-bar {
    position: relative;
    .form-control {
        padding: 10px;
    }
    .btn-search {
        position: absolute;
        right: 15px;
        top: 3px;
        &:focus {
            border: transparent;
            outline: transparent;
        }
        .icon-circle,
        .icon-line {
            position: absolute;
            right: 0;
        }
        .icon-circle {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 3px solid $gray-800;
        }
        .icon-line {
            width: 12px;
            transform: rotate(45deg);
            background-color: $gray-800;
            height: 2px;
            position: absolute;
            bottom: -15px;
            right: -5px;
        }
    }
}